################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShahJe.Sql.Dapper.Extensions/bin/Debug
/ShahJe.Sql.Dapper.Extensions/obj
/ShahJe.Sql.Dapper.Extensions/.vs/ShahJe.Sql.Dapper.Extensions/v16
/ShahJe.Sql.Dapper.Extensions/.vs/ShahJe.Sql.Dapper.Extensions/DesignTimeBuild
/ShahJe.Sql.Dapper.Extensions/bin/Release
/ShahJe.Sql.Dapper.Extensions.Tests/obj
/ShahJe.Sql.Dapper.Extensions.Tests/bin
